@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: linear-gradient(to right, #E7E7E7, white, #E7E7E7);
}

.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 270px;
  margin: 50px auto;
  position: relative;
}

.word {
  display: block;
  text-align: justify;
  font-family: "BenchNine";
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.word1 { color: #9BC5DE; font-size: 6.3em; }
.word2 { color: #9BC5DE; font-size: 8.1em; }
.word3 { color: #90B3C9; font-size: 4.8em; }
.word4 { color: #90B3C9; font-size: 6.4em; }
.word5 { color: #809BB0; font-size: 3.8em; }
.word6 { color: #809BB0; font-size: 6em; }
.word7 { color: #6B7B8A; font-size: 4.5em; }
.word8 { color: #8B8091; font-size: 4.8em; }
.word9 { color: #8B8091; font-size: 7.9em; }
.word10 { color: #B68FA2; font-size: 4.9em; }
.word11 { color: #B68FA2; font-size: 7.9em; }
.word12 { color: #D99AB5; font-size: 8.2em; }
.word13 { color: #D99AB5; font-size: 7.8em; }

.bubble {
  padding: 20px;
  position: absolute;
  color: white;
  font-family: "Open Sans Condensed";
}

.bubble1 {
  height: 100px;
  width: 75px;
  background-color: #99C5DE;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
  top: 0;
  left: -100px;
  font-size: 1.5em;
  line-height: 1;
}

.bubble1 .the-arrow1 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #99C5DE;
  position: absolute;
  top: 63px;
  left: 75px;
  transform: rotateY(180deg);
}

.bubble2 {
  height: 200px;
  width: 170px;
  background-color: #99C5DE;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  top: 20px;
  left: 110%;
}

.bubble2 .the-arrow2 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #99C5DE;
  position: absolute;
  top: 130px;
  left: -19px;
}

.bubble2 img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
}

.bubble3 {
  height: 220px;
  width: 250px;
  background-color: #90B2CB;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  top: 153px;
  left: -280px;
  font-size: 1.3em;
  line-height: 1.3;
  margin-top: 10px;

}
.p3{
    margin-bottom: 60px;
}
.bubble3 .the-arrow3 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #90B2CB;
  position: absolute;
  top: 200px;
  left: 250px;
  transform: rotate(180deg);
}

.bubble4 {
  height: 180px;
  width: 250px;
  background-color: #809BAE;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  top: 260px;
  left: 280px;
}

.bubble4 .the-arrow4 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #809BAE;
  position: absolute;
  top: 160px;
  left: -19px;
}

.bubble5 {
  height: 200px;
  width: 250px;
  background-color: #697A8A;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  top: 430px;
  left: -280px;
  font-size: 1.4em;
  line-height: 1.2;
  margin-top: 10px;
}

.bubble5 .the-arrow5 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #697A8A;
  position: absolute;
  top: 0;
  left: 250px;
  transform: rotate(180deg);
}

.bubble6 {
  height: 180px;
  width: 250px;
  background-color: #8B8091;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  top: 490px;
  left: 280px;
  font-size: 1.4em;
  line-height: 1.3;
}

.bubble6 .the-arrow6 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #8B8091;
  position: absolute;
  top: 0;
  left: -19px;
  transform: rotateX(180deg);
}

.bubble7 {
  height: 200px;
  width: 250px;
  background-color: #B68EA6;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  top: 725px;
  left: -280px;
  font-size: 30px;
}

.bubble7 .the-arrow7 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #B68EA6;
  position: absolute;
  top: 0;
  left: 250px;
  transform: rotate(180deg);
}

.bubble8 {
  height: 190px;
  width: 250px;
  background-color: #D99AB5;
  border-top-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  top: 783px;
  left: 280px;
  font-size: 20px;
  font-size: 1.3em;
  line-height: 1.3;
}

.bubble8 .the-arrow8 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #D99AB5;
  position: absolute;
  top: 170px;
  left: -19px;
}
